<!--<div id="inventory-search" ng-controller="InventorySearchCtrl">-->
<div id="inventory-search">
    <div class="filters">
        <!--Search: <input type="text" ng-model="search" title="Will run a search over all items" placeholder="Enter a search term">-->
        <ul class="unstyled">
            <li ng-repeat="filter in filters">
                <span>{{filter}}</span><button class="btn btn-danger"><i class="icon-remove-sign icon-white"></i></button>
            </li>
        </ul>
        Add<button class="btn btn-success" ng-click=""><i class="icon-plus-sign icon-white"></i></button>
    </div>
    <div class="table">

    </div>

</div>
